body{
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
    height: 100px;
    flex: 1;
    align-items: center;
    border: 2px solid black;
    text-transform: uppercase;
}
a{
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: darkmagenta;
}
.card-container{
    display: grid;
    grid-template-columns: 1rem 50rem 3rem;
    grid-template-rows: 50fr 50fr 50fr;
    gap: 10px;
}
.card1{
    display: flex;
    background-color: blue;
    grid-column: 2;
}
.card2{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 234);
    grid-row: span 2;
}
.card3{
    display: flex;
    grid-column: 2;
    background-color: rgb(255, 166, 0);
}
